---
layout: default
---

{%-include back_link.html-%}

<article class="post-article">
  <p class="post-meta" aria-hidden="true" data-post-date="{{ page.date | date: site.theme_config.date_format }}"></p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}

  {%- if page.comments != false -%}
  <div class="post-comments">
    <script src="https://giscus.app/client.js"
            data-repo="dotfloor/dotfloor.github.io"
            data-repo-id="R_kgDOSG-Ulw"
            data-category="General"
            data-category-id="DIC_kwDOSG-Ul84C7OEC"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="dark"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
  </div>
  {%- endif -%}
</article>